$primary-color: black;
$secondary-color: #666666;
$text-color: white;
// This is a Sass "map".   It's like a Python dictionary.
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);